.count {
  font-family: Arial;
  font-weight: bold;
  font-size: xx-large;
  color: white;
  margin-bottom: 30px;
  display: block;
}

button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 6px;
}

.increment {
  background-color: aquamarine;
  cursor: pointer;
  font-size: xx-large;
}

#save-btn {
  background-color: darkgreen;
  cursor: pointer;
  font-size: xx-large;
}

@media (min-width: 1000px) {
  .counter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: darkblue;
    width: 350px;
    height: 350px;
    border-radius: 8px;
    padding: 20px 20px;
    text-align: center;
    color: white;
  }
}

.counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: darkblue;
  width: 350px;
  height: 350px;
  border-radius: 8px;
  padding: 20px 20px;
  text-align: center;
  color: white;
}

.h2 {
  display: block;
  font-family: Arial;
  font-weight: bold;
}

#welcome-el {
  font-size: xx-large;
  font-weight: bold;
}

.welcome {
  text-align: center;
  margin-top: 20px;
}

@media (min-width: 750px) and (max-width: 999px) {
  .counter {
    top: 40%;
    width: 90%;
    font-size: 70px;
    height: 70%;
  }

  .count {
    font-size: 100px;
  }

  .increment {
    background-color: aquamarine;
    height: 80px;
    width: 100%;
  }

  #save-btn {
    background-color: darkgreen;
    height: 80px;
    width: 100%;
  }

  #welcome-el {
    font-size: xx-large;
  }
}
